@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Kanit:wght@300&family=Montserrat:wght@200&family=Open+Sans:wght@300&family=Poppins:wght@300&family=Quicksand:wght@300&family=Roboto+Mono:wght@500&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Coiny&family=Kanit:wght@300&family=Montserrat:wght@200&family=Open+Sans:wght@300&family=Poppins:wght@300&family=Quicksand:wght@300&family=Roboto+Mono:wght@500&family=Roboto:wght@700&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    margin: 0 auto;
    padding: 20px;
} 
 /*seccion 1*/

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
    height:20px;
    margin-bottom: 20px;
    background-color: white;
    margin-left: 10%;

}
.hambur{
    font-size: 1,5rem;
}
.inicio{
    color: black;
    font-weight:900;
}
h1{
    width: 7px;
    font-size:20px;
    font-weight: bold;

}
a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
a:hover{
    text-decoration:solid;
    color: rgb(181, 179, 64);
}
ul{
    display: flex;
    text-transform: uppercase;
    list-style-type: none;

    
}
li{
    margin-left: 20px;
    display: inline;
   
}
.contenedor{
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 8px;

}
.seccion1{
    display: flex;
    justify-content: center;
    background-color:rgb(252, 190, 75);
    height:90vh;
    vertical-align: middle;
    
}
.contenedor1{
    
    text-align:left;
    padding-left: 2px;
    margin-top:180px;
    height: 40px;
    margin-right: 50px;
    margin-left: 30px;
    justify-content: center;
}
.face{
    margin-right: 7px;
}
.link{
    margin-right: 7px;
}
.saludo{
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 30px;   
}
@keyframes haceEscala {
    0%{transform: scale(0.2);}
    50%{transform: scale(1.1);}
    100%{transform: scale(1);}
}
.titulo{
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    font-size:80px;
    margin-left: 0%;
    color:rgb(40, 39, 39);
    animation-name: haceEscala;
    animation-duration: 3s;
    
}
.lugar{
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 8%;
    font-weight: bold;
}
.contacto{
    text-decoration: underline;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}
.btn{
    border: 10px solid black;
    background-color:rgb(40, 39, 39);
    color: azure;
    border-radius: 2px;
    cursor: pointer;
    height: 40px;
    overflow: hidden;
}
:hover.btn{
  color: cadetblue;
  text-decoration: none;
  
}

.mifoto{
    border-radius:80%;
    border: 8px solid white;
    margin-top: 120px;
    margin-left: 140px;
}
.contenedor3{
    position: absolute;
    bottom: 2px; 
}
/*Seccion 2*/
.seccion2{
    margin:0 auto; 
    margin-bottom: 60px;  
    width: 100%;
    
}
.col1{
   
    text-align: center;
    line-height: 30px;
    margin-bottom: 15px;
  
}
.titulo2{
    font-family: 'Quicksand', sans-serif;
    font-size:18px;
    border: 1px solid rgb(252, 190, 75);
    background-color: rgb(252, 190, 75);
    margin-top: 5%;
    width: 110px;
    line-height: 20px;
    margin-left: 45%;
}
.knowMe{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size:30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    margin-left: 50%;
}  
.col2{
    width: 40%;
    height:250px;
    line-height: 40px;
    font-family: 'Poppins', sans-serif;
    margin-left: 8%;
    margin-top: 10px;
    margin-right: 40px;
    
}
.saludo2{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 19px;
}
.nombre{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border: 4px solid rgb(252, 190, 75);
    border-left: none;
    border-right: none;
    border-top: white;
    font-size: 19px;

}
h4{
    white-space: nowrap;
    display: inline;
    flex-direction: row;
    font-size: 25px;
}
.col3{
   
    line-height: 40px; 
    width: 40%;
    margin-right: 15%;
    width:60px ;
    height:110px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 15px;
  
    
    
   
}
.padre{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 30px;
}

.exp{
    font-family: 'Poppins', sans-serif;
    font-size: 75px;
    margin-bottom: 20px;
    border: 3px solid rgb(252, 190, 75);
    background-color: rgb(252, 190, 75);
    border-radius: 60%;
    width: 70px;
    height:60px ;
    margin-top:50% ;
    line-height:60px;
    margin-left: 35px;
}
.exp1{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
  
  
}
.exp2{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    

}
.exp1,.exp2{
    display: inline;
    white-space: nowrap;


}
.segundalista{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-size: 20px;
    width:100%;
    
}
.mail{
    text-transform: lowercase;
    text-decoration: underline;
    font-weight: bold;
    font-size: 16px;
    margin-right: 50px;

}
h5{
    font-weight: normal;
    font-size: 12px;
    margin-right: 50px;
}
.misdatos{
    font-weight: bold;
    font-size: 14px;
    margin-right: 50px;
    
}

/*tercera seccion*/


.seccion3{
    margin: 0 auto; 
    background-color: rgb(247, 242, 242);
    height: 90%;
    width: 100%;
    padding: 5px;
    margin-top: 5%;
    padding-bottom: 5%;
   
}

.titulo3{
    font-family: 'Quicksand', sans-serif;
    font-size:18px;
    border: 1px solid rgb(252, 190, 75);
    background-color: rgb(252, 190, 75);
    margin-top: 5%;
    width: 110px;
    line-height: 20px;
    margin-left: 45%;
    
}
.how{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size:30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    margin-left: 50%;
    text-transform: capitalize;

}

.tercerlista{
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: lowercase;
    width: 70%;
    margin-left: 15%;
    font-family: 'Poppins', sans-serif;
  
    
}
.milapiz,.mipantalla{
    font-size: 40px;
    color:rgb(252, 190, 75) ;
    
}
.iconos{
    margin-left: 45%;
    margin-top: 10%;
    margin-bottom: 20px;
}
.mititulo{
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}
/*termina mi seccion y arranca mi seccion 4*/


.seccion4{  
    margin:0 auto; 
    width: 100%;
    padding-left: 50px;
    margin-bottom: 7%;
}

.titulo5{
    font-family: 'Quicksand', sans-serif;
    font-size:18px;
    border: 1px solid rgb(252, 190, 75);
    background-color: rgb(252, 190, 75);
    margin-top: 5%;
    width: 115px;
    line-height: 20px;
    margin-left: 45%;
    text-align: center;
}
.cv{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size:30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    margin-left: 50%;
    text-transform: capitalize;
    margin-bottom: 65px;
}
 .padre4{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 10%; 
    font-family: 'Poppins', sans-serif;
  
} 
     
.misdostitulos{
   
    white-space: nowrap;
    font-size:18px ;
    font-weight: bolder;
    
    display: flex;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin-right: 10%;
} 
.mieducacion{
    margin-left: 12%;
}
.miexperiencia{
    margin-left: 40%;
}
.miborde1{
    border: 3px solid rgb(252, 190, 75);
    border-top: none;
    border-right: none;
    border-bottom: none;
    padding-left: 0.50rem;
    margin:0 2rem;
    
    margin-left: 45px;
    width: 38%; 
    margin-left: 2%;
}
.miborde2{
    border: 3px solid rgb(252, 190, 75);
    border-top: none;
    border-right: none;
    border-bottom: none;
    padding-left: 0.50rem;
    margin:0 2rem;
    
    width: 38%;
    margin-right: 10%;
    margin-left: 0.1rem;
   
   
}

.primerhr{
    margin-top:20px;
    margin-bottom: 30px;
    color: rgb(215, 214, 214);
    width: 90%;
    
}
.misparrafos{
    margin-bottom: 20px;
    font-size:12px ;
    
}
.subtitulos{
    font-size: 15px;
    text-transform: capitalize;
}
.misfechas{
    font-size:12px ;
}

.padre6{
    display: flex;
}
.skills{
    white-space: nowrap;
    font-size:25px ;
    font-weight: bold;
    margin-left: 12%;
    margin-top:5%;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
.padre6{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left:10%;
    padding-right: 15%;
    
}
.exterior{
    margin-left:4%;
    
}
.interior1,.interior2,.interior4{
    background-color: rgb(215, 214, 214);
    width: 100%;
    height: 5px;
    border:none;
    margin-top: 10px;
   
}
.interior3,.interior5,.interior6{
    background-color: rgb(215, 214, 214);
    width: 100%;
    height: 5px;
    border:none;
    margin-top: 10px;
   
}
.progreso{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-transform: capitalize;
    margin-top: 10px;
}
.interior1{
    border-left:350px solid rgb(252, 190, 75); 
}
.interior2{
    border-left:400px solid rgb(252, 190, 75); 
}
.interior3{
    border-left:230px solid rgb(252, 190, 75); 
}
.interior4{
    border-left:100px solid rgb(252, 190, 75); 
}
.interior5{
    border-left:100px solid rgb(252, 190, 75); 
}
.interior6{
    border-left:260px solid rgb(252, 190, 75); 
}
.btn2{
    border:2px solid grey;
    background-color: white;
    width:14%;
    height: 47px;
    color:black;
    font-family:'Poppins', sans-serif;
    font-weight: bold;
    margin-top:50px;
    margin-left: 40%;
}

/*Empieza mi quinta seccion*/
.seccion5{
    background-color: rgb(247, 242, 242);
    padding-top: 2%;
    margin:0 auto; 
    width: 100%;

}

.portfolio{
    font-family: 'Quicksand', sans-serif;
    font-size:18px;
    border: 1px solid rgb(252, 190, 75);
    background-color: rgb(252, 190, 75);
    margin-top: 5%;
    width: 100px;
    line-height: 20px;
    margin-left: 45%;
    text-align: center;
}
.trabajos{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size:30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    margin-left: 50%;
    margin-bottom: 65px;
}
.misimagenes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 17%;
    margin-right: 17%;
    width: 65%;
    margin-top: 5%;
 
    
}
.ilustracion,.libro,.plantas{
    margin-top: 10px;
    margin-bottom: 20%;
}
.nuevalista{
    display:flex;
    justify-content: center;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

/*sexta seccion*/

.seccion6{
    background-color:rgb(252, 190, 75);
    padding:10px;
    margin: 0 auto;
    
  
}
.padre7{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 10%; 
    
}
.github{
    margin-left: 7px;
}
.contacto2{
    display:flex;
    justify-content: space-evenly;
    white-space: nowrap;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin-top: 5%;
    margin-right: 15%;
    text-decoration: none;
}
.contactame1{
    margin-right: 21%;
}
.contactame2{
    margin-right:12% ;
    margin-left: 9%;
}
.textolargo{
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    
}
.datofinal,label{
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px ;
    font-weight: bold;
}
.textofinal{ 
    font-family: 'Poppins', sans-serif;
    
}

.form1{
   width: 30%;
   margin-left: 70px;
}
.form2{
    width: 40%;
    margin-top: 40px;
    margin-left: 19%;
    margin-right: 10%;
    margin-bottom: 5%;
    
}
input{
    width: 90%;
    background-color:rgb(252, 190, 75);
    border:1px solid transparent;
    border-bottom: 1px solid grey;
    outline:none;
    margin-top: 25px;
    margin-bottom: 18px;

}
textarea{
    width: 90%;
    background-color:rgb(252, 190, 75);
    border:1px solid transparent;
    border-bottom: 1px solid grey;
    outline:none;
    margin-top:80px;
}
.btn3{
    margin-top: 5%;
    color:white;
    width: 130px;
    height: 40px;
    background-color: #282727;
}
.flechita{
    margin-left: 0.50rem;
}
.misiconos{
    
    margin-left: 16%;
    color: cadetblue;
    font-size: 20px;
   
}
 /*footer*/
footer{
    background-color: rgb(55, 53, 53);
    
    height: 10%;
    width: 100%;
    padding: 5px;
    
}
.enlace{
    color:rgb(252, 190, 75);
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}

.pdefooter{
    color:whitesmoke;
    margin-left: 10%;
    padding: 5%;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}


@media (max-width:1100px){

  .logo{
    margin-right: 30%;
    font-size: medium;

 }
  header{
     font-size: 18px;

    
  }
}
@media (max-width:940px){

    ul{
       
       display: inline-block;
        text-align: left;
      
    }

   
}
/* @media(min-width:400)and (max-width:2000){
       .hambur{
        display:none;
       }
}
     */